main.history {
    display: flex;
}

.expenses-history {
    width: 40vw;
}

.incomes-history {
    width: 40vw;
}

.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2vh;
}

.search-bar input {
    background: none;
    border-radius: 10% / 100%;
    height: 3vh;
    width: 20vw;
    text-align: center;
}

section.operation-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.operation-form > form {
    display: flex;
    flex-direction: column;
}

section.expenses, section.incomes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul.expense-list, ul.income-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 0;
}

li.expense, li.income {
    width: 35vw;
    height: 2vh;
    padding: 0.7rem 1rem;
    border-bottom: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

h1.date-heading {
    width: 5.2rem;
    display: flex;
    justify-content: flex-start;
}

h1.title-heading {
    margin: 0 1rem;
    width: 17.8rem;
    display: flex;
    justify-content: flex-start;
}

h1.category-heading {
    width: 10rem;
    display: flex;
    justify-content: flex-start;
}

h1.amount-heading {
    width: 7rem;
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
}

li.expense > h2 {
    color: red
}

li.income > h2 {
    color: green
}

h1.date {
    width: 5.2rem;
    display: flex;
    justify-content: flex-start;
}

h1.title {
    margin: 0 1rem;
    width: 17.8rem;
    display: flex;
    justify-content: flex-start;
}

p.category {
    width: 10rem;
    display: flex;
    justify-content: flex-start;
}

h2.amount {
    width: 7rem;
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
}